* {
    margin: 0;
    padding: 0;
}

.bg-gray-200 {
    background: #e5e7eb;
}

.px-2 {
    padding: 0px 8px;
}

.text-2xl {
    font-size: 70px;
}

.text-indigo-700 {
    color: #432dd7;
}

.text-gray-500 {
    color: #6a7282;
}

.ml-5{
    margin-left: 30px;
}

.mt-5{
    margin-top: 200px;
}

.mt-3 {
    margin-top: 12px;
}

.mt-7{
    margin-top: 28px;
}

.flex {
    display: flex;
}

.ml-2{
    margin-left:8px;
}

.m-3 {
    margin: 12px;
}

.p{
    padding: 12px 24px;
}

.bg-indigo-700 {
    background-color: #4338ca;
}

.text-white{
    color: white;
}

.bg-white{
    background: white;
}

.h-screen {
  height: 100vh;
}

.border{
    border: none;
}

.border-radius{
    border-radius: 5px;
}

.object-cover {
  object-fit: cover;
}

.width{
    width: 50vw ;
}